.hamburger {
	  border-radius: 250px 750px 250px 750px /
                 750px 250px 750px 250px;
	height: 100px;
	width: 120px;
	transition: border-radius 300ms;
  	animation: wobble 5s ease-in-out alternate infinite;

	&:hover {
		border-radius: 90% 40% 40% 40% / 60% 60% 40% 40%;
	}

	& svg {
		width: 125px;
		height: 65px;
		transform: translateY(15px);
		transition: all 300ms
	}
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}
